@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -5px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


#canvas {
    background-color: rgb(14, 14, 15);
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


.modal {
    position: absolute;
    width: 70%;
    height: 50%;
    background-color: #fff;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.modal .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal h1 {
    font-size: 6vw;
}

.container .btn {
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(76, 131, 252);
    color: white;
    transition: all .2s;
}


.container .btn:hover {
    transform: rotate(3deg);
}